@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Titres utilisent Stack Sans Notch par défaut */
h1, h2, h3, h4, h5, h6 {
  font-family: "Stack Sans Notch", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
